# Config file for CDN instance

# The root of the CDN instance
FS_ROOT="/opt/cdn"

# The depth of the CDN instance
FS_DEPTH=4

# File ownership user, group and permissions
# NB: these are only used when replicating remote master to this instance;
# file uploads into the instance will inherit the user, group and umask of the Nginx process
FS_USER="nginx"
FS_GROUP="nginx"
FS_MODE="644"

# The transaction logs prefix
INDEX_PREFIX="______"

# How many days to keep transaction logs (index files are rotated hourly)
KEEP=7

# If this local instance is updated from a remote master, save the retrieved transaction logs for chained slaves
INTERMEDIATE_MASTER=0

