# Config file for CDN index clean up

# The root of the CDN instance
FS_ROOT="/opt/cdn"

# The depht of the CDN instance
FS_DEPTH=4

# The index prefix
INDEX_PREFIX="______"

# How many days to keep (index files are rotated hourly)
KEEP=7


