# Config file for a CDN instance mirror (slave)

# Name of the local instance that will receive the updates from this master (alpha-numeric)
INSTANCE_NAME="some_instance"

# URL of the remote (master) instance
URL="https://cdn.example.com"

# The depth of the remote (master) instance
MASTER_FS_DEPTH=4

# The index prefix on the remote (master) instance
MASTER_INDEX_PREFIX="______"

# Append-only: skip the DELETE operation from transactions logs from this master
APPEND_ONLY=0


